
{% if session["usuario"] == "prueba@mail.com" %}
           


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escritorio</title>
      <!-- Se importa bootstrap -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="/escritorio">Inicio</a>
          <a class="navbar-brand text-white" href="/formulario">Formuilario</a>
          <form action="/mostrar" method="POST" enctype="multipart/form-data">
            <input type="submit" value="Ver Bloques" class="navbar-brand text-black"/>
          </form>
<!-- Codigo nuevo de voto individual  -->
          <a class="navbar-brand text-white" href="/realizar_votacion">Realizar votacion</a>
        <form action="/mostrar_voto_individual" method="POST" enctype="multipart/form-data">
          <input type="submit" value="Ver votos individual" class="navbar-brand text-black"/>
        </form>

<!-- Codigo nuevo de voto individual  -->
          <a class="navbar-brand text-white" href="{{url_for('logout')}}">Salir</a>
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px" >
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="#" >.</a >
            </li>
          </ul>
        </div>
      </nav>






            <div class="is-one-third is-offset-one-third">
                Hola <strong>{{session["usuario"]}}</strong>
                <p>A esta página solo se puede acceder si el usuario ha iniciado sesión</p>
                <a href="{{url_for('logout')}}">Salir</a>
            </div>
</body>

</html>



{% else %}  
           <a href="{{ url_for('main.login') }}">Login</a>
{% endif %}