<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/escritorio">Inicio</a>
      <a class="navbar-brand text-white" href="/formulario">Formuilario</a>
      <form action="/mostrar" method="POST" enctype="multipart/form-data">
        <input type="submit" value="Ver Bloques" class="navbar-brand text-black"/>
      </form>
<!-- Codigo nuevo de voto individual  -->
      <a class="navbar-brand text-white" href="/realizar_votacion">Realizar votacion</a>
    <form action="/mostrar_voto_individual" method="POST" enctype="multipart/form-data">
      <input type="submit" value="Ver votos individual" class="navbar-brand text-black"/>
    </form>

    <a class="navbar-brand text-white" href="/crear_opcion">Crear opcion</a>
    <form action="/mostrar_opciones" method="POST" enctype="multipart/form-data">
      <input type="submit" value="Ver opciones" class="navbar-brand text-black"/>
    </form>

    <a class="navbar-brand text-white" href="/grafica_dinamica">Grafica dinamica</a>




    
<!-- Codigo nuevo de voto individual  -->
      <a class="navbar-brand text-white" href="{{url_for('logout')}}">Salir</a>
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px" >
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#" >.</a >
        </li>
      </ul>
    </div>
  </nav>